.flight__home__top-banner {
  width: 100%;
  position: absolute;
}

.flight__home__top-banner img{
  width: 100%;
}

.flight__home__wrapper {
  margin-top: 61px;
}

.flight__home__promo-banner,
.flight__home__main-title,
.flight__home__widget,
.flight__home__dest-pop,
.flight__home__advantage,
.flight__home__seo-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.flight__home__main-title {
  text-align: center;
  position: relative;
  color: #FFF;
  font-weight: 900;
}

.flight__home__white-wrapper {
  background-color: #FFF;
}

.flight__home__dest-pop {
  margin-bottom: 70px;
}

.dest-pop__title,
.home-advantage__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.dest-pop__title {
  padding: 50px 0;
}

.home-advantage__title {
  padding-bottom: 70px;
}

.dest-pop__slider .slider .slider-decorator-2 {
  display: none;
}

.dest-pop__slider .slider-frame .slider-list {
  height: 280px !important;
}

.flight__home__main-title {
  font-size: 24px;
  font-weight: 700;
  padding: 50px 0;
}

.flight__home__widget {
  margin-bottom: 30px;
  background-color: #FFF;
  padding: 15px;
  border-radius: 9px;
  border: 1px solid #E0E0E0;
  position: relative;
  min-height: 350px;
}

.home-advantage__content-item {
  width: 23%;
  margin-right: 2.66%;
  display: inline-block;
}

.home-advantage__content-item:last-child {
  margin-right: 0;
}

.home-advantage__content-item img {
  width: 45%;
}

.home-advantage__content-item .content-item__title {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 0;
}

.flight__home__seo-wrapper {
  font-size: 10px;
}

.flight__home__seo-wrapper .seo-item__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.flight__home__seo-item {
  margin-bottom: 20px;
}

.flight__home__seo-item:last-child {
  padding-bottom: 100px;
  margin-bottom: 0;
}

.slider-frame {
  border-radius: 9px;
}

/* universal */
.bradius9 {
  border-radius: 9px;
}

.mb-50 {
  margin-bottom: 50px;
}

.fs-12 {
  font-size: 12px;
}

.max_1200 {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
}
