@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #F8F8F8;
}

body {
    background-color: #F8F8F8;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.relative,
.ui-datepicker-header {
    position: relative;
}

.absolute,
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
}

.fixed {
    position: fixed;
}

.block {
    display: block;
}

.static {
    position: static;
}

.none {
    display: none;
}

.inline-block {
    display: inline-block;
}

.inline-table {
    display: inline-table;
}

.table {
    display: table;
    margin-bottom: 0;
}

.table-cell {
    display: table-cell;
}

.v-middle {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.over-hidden {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.box-shadow {
    box-shadow: 5px 4px 0px 0px RGBA(166, 166, 166, 0.1);
}

.bottom {
    bottom: 0;
}

.rt-0 {
    right: 0;
    top: 0;
}

.lt-0 {
    left: 0;
    top: 0;
}

.t-35 {
    top: 35%;
}

.l--8 {
    left: -8px;
}

.l-0 {
    left: 0;
}

.r-3 {
    right: 3px;
}

.r-5 {
    right: 5px;
}

.r-10 {
    right: 10px;
}

.r-20 {
    right: 20px;
}

.t-15 {
    top: 15px;
}

.t-15p {
    top: 15%;
}

.h-55 {
    height: 55px;
}

.h-70 {
    height: 70px;
}

.h-75 {
    height: 75px;
}

.h-100 {
    height: 100px;
}

.h-170 {
    height: 170px;
}

.mh-40 {
    min-height: 40px;
}

.mh-65 {
    min-height: 65px;
}

.h-100p {
    height: 100%;
}

.mt--10 {
    margin-top: -10px;
}

.mt--8 {
    margin-top: -8px;
}

.mt--3 {
    margin-top: -3px;
}

.mt--5 {
    margin-top: -5px;
}

.mt--1 {
    margin-top: -1px;
}

.mt-0 {
    margin-top: 0;
}

.mt-2 {
    margin-top: 2px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-7 {
    margin-top: 7px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-150 {
    margin-top: 150px;
}

.mr-0 {
    margin-right: 0;
}

.mr-3 {
    margin-right: 3px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-7 {
    margin-bottom: 7px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.m-0 {
    margin: 0;
}

.m-auto {
    margin: 0 auto;
}

.m-15 {
    margin: 15px;
}

.mr--1 {
    margin-right: -1px;
}

.ml--6 {
    margin-left: -6px;
}

.ml--15 {
    margin-left: -15px;
}

.ml--30 {
    margin-left: -30px;
}

.ml-0 {
    margin-left: 0;
}

.ml-2 {
    margin-left: 2px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: 2px 3px 3px;
}

.p-5 {
    padding: 5px;
}

.p-5-15 {
    padding: 5px 15px;
}

.p-7-15 {
    padding: 7px 15px;
}

.p-10 {
    padding: 10px;
}

.p-10-2 {
    padding: 10px 2px;
}

.p-15 {
    padding: 15px;
}

.p-15-10 {
    padding: 15px 10px;
}

.p-18-11 {
    padding: 18px 11px;
}

.p-20 {
    padding: 20px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-2 {
    padding-bottom: 2px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-7 {
    padding-bottom: 7px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-17 {
    padding-bottom: 17px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-0 {
    padding-top: 0;
}

.pt-2 {
    padding-top: 2px;
}

.pt-3 {
    padding-top: 3px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-7 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.plr-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pl-0 {
    padding-left: 0;
}

.pl-2 {
    padding-left: 2px;
}

.pl-3 {
    padding-left: 3px;
}

.pl-7 {
    padding-left: 7px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-0 {
    padding-right: 0;
}

.pr-3 {
    padding-right: 3px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-7 {
    padding-right: 7px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-40 {
    padding-top: 40px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-40 {
    padding-bottom: 40px;
}

.p-10-2 {
    padding: 10px 2px;
}

.p-10-5 {
    padding: 10px 5px;
}

.p-10-15 {
    padding: 10px 15px;
}

.bold,
.semi-bold {
    font-weight: 600;
}

.lh-1 {
    line-height: 1em;
}

.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 20px;
}

.lh-23 {
    line-height: 2.3em;
}

.lh-2 {
    line-height: 2em;
}

.lh-25 {
    line-height: 2.5em;
}

.lh-8 {
    line-height: 8em;
}

.lh-12 {
    line-height: 1.2em;
}

.lh-15 {
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: inherit;
}

h1 {
    letter-spacing: 0.05em;
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fw-normal {
    font-weight: normal;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.h-12 {
    height: 12px;
}

.h-50 {
    height: 50px;
}

.w-auto {
    width: auto;
}

.w-10p {
    width: 10%;
}

.w-11p {
    width: 11%;
}

.w-20p {
    width: 20%;
}

.w-25p {
    width: 25%;
}

.w-50p {
    width: 50%;
}

.w-60p {
    width: 60%;
}

.w-23p {
    width: 23%;
}

.w-20p {
    width: 20%;
}

.w-28p {
    width: 28%;
}

.w-30p {
    width: 30%;
}

.w-35p {
    width: 35%;
}

.w-40p {
    width: 40%;
}

.w-45p {
    width: 45%;
}

.w-44p {
    width: 44%;
}

.w-75p {
    width: 75%;
}

.w-80p {
    width: 80%;
}

.w-85p {
    width: 85%;
}

.w-95p {
    width: 95%;
}

.w-100p {
    width: 100%;
}

.w-260p {
    width: 260px;
}

.w-25 {
    width: 25px;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-70 {
    width: 70px;
}

.w-75 {
    width: 75px;
}

.w-150 {
    width: 150px;
}

.w-110 {
    width: 110px;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}

.w-max-500 {
    max-width: 500px;
}

.z-20 {
    z-index: 20;
}

.z-100 {
    z-index: 100;
}

.break-word {
    word-break: break-all;
}

.bg-e9 {
    background-color: #E9E9E9;
}

.bg-ff {
    background-color: #FFF;
}

.bg-f4 {
    background-color: #F4F4F4;
}

.bg-f7 {
    background-color: #F7F7F7;
}

.bg-f9 {
    background: #F9F9F9;
}

.bg-xl-green {
    background: #E9F9EA;
}

.bg-dark-green {
    background: #2E8827;
}

.bg-light-green {
    background: #5FB241;
}

.bg-grey {
    background-color: #666;
}

.bg-green,
.step-payment.active {
    background: #42B549;
}

.bg-orange {
    background: #F26039;
}

.bg-red {
    background-color: #D14F4F;
}

.grey {
    color: #515151;
}

.green {
    color: #42B549;
}

.light-green {
    color: #5FB241;
}

.orange {
    color: #D14F4F;
}

.orange-light {
    color: #F26039;
}

.white {
    color: #FFF;
}

.grey-6 {
    color: #666;
}

.grey-7c {
    color: #7C7C7C;
}

.muted {
    color: #AAA;
}

.gold {
    color: #FFD700;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.underline {
    text-decoration: underline;
}

.red {
    color: #F00;
}

.red-2 {
    color: #EC1C27;
}

.black {
    color: #333;
}

.border-cc {
    border: 1px solid #CCC;
}

.border-ff {
    border: 1px solid white;
}

.border-right-ff {
    border-right: 1px solid #FFF;
}

.border-green {
    border: 1px solid #008000;
}

.border-green-thick {
    border: 4px solid #008000;
}

.border-red {
    border: 1px solid #CD0000;
}

.border-xl-red {
    border: 1px solid #F00;
}

.border-orange {
    border: 1px solid #BB4A2B;
}

.border-xl-orange {
    border: 1px solid #E55B36;
}

.border-be {
    border: 1px solid #BEBEBE;
}

.border-e7 {
    border: 1px solid #E7E7E7;
}

.border-bf {
    border: 1px solid #BFBFBF; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.border-red {
    border: 1px solid #CD0000;
}

.border-light-red {
    border: 1px solid #D43F3A;
}

.border-none {
    border: none;
}

.border-tp-none {
    border-top: none;
}

.border-tp-bf {
    border-top: 1px solid #BFBFBF;
}

.border-tp-e7 {
    border-top: 1px solid #E7E7E7;
}

.border-bt-bf {
    border-bottom: 1px solid #BFBFBF;
}

.border-bt-green {
    border-bottom: 1px solid #2E8827;
}

.border-bottom-green {
    border-bottom: 1px solid #2E8827;
    top: -1px;
}

.border-bt-orange {
    border-bottom: 1px solid #E55B36;
}

.border-bt-orange.thin {
    border-bottom: 1px solid #E55B36;
}

.border-right-ff {
    border-right: 1px solid #FFF;
}

.border-right-green {
    /*border-right: 1px solid #2E8827;
    top:-1px;*/
}

.border-top-green {
    border-top: 1px solid #2E8827;
}

.border-top-xl-green {
    border-top: 1px solid #4D9C46;
}

.border-right-e9 {
    border-right: 1px solid #E9E9E9;
}

.border-left-green {
    /*border-left: 1px solid #2E8827;*/
}

.border-left-bf {
    border-left: 1px solid #BFBFBF;
}

.border-left-white {
    border-left: 1px solid #FFF;
}

.border-left-e9 {
    border-left: 1px solid #E9E9E9;
}

.border-bt-e7 {
    border-bottom: 1px solid #E7E7E7;
}

.border-bt-df {
    border-bottom: 1px solid #DFDFDF;
}

.border-blue {
    border: 1px solid #1A2B6C;
}

.circled {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.circled-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.z-50 {
    z-index: 50;
}

.z-100 {
    z-index: 100;
}

.z-200 {
    z-index: 200;
}

.z-2000 {
    z-index: 20000;
}

.centered-content {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}

.center-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.no-resize {
    resize: none;
}

.bg-f4 {
    background: #F4F4F4;
}

.box-shadow {
    -ms-box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
}

.bordered-input,
.bordered-input:focus {
    border: 1px solid #CCC !important;
    padding: 7px 10px !important; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px RGBA(0, 0, 0, 0.075) !important;
    border-radius: 2px !important;
}

.bg-head {
    background: #42B549;
}

.warning {
    border-top: 1px solid #EEE;
    background: #FDFDF5; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.box-bordered {
    border: 1px solid #C6C6C6;
}

.border-bottom {
    border-bottom: 1px solid #EEE;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.align-middle {
    vertical-align: middle;
}

label {
    margin-bottom: 3px;
}

textarea {
    resize: vertical;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-85 {
    padding-bottom: 75px;
}

.max-800 {
    max-width: 800px;
}

.line-through {
    text-decoration: line-through;
}

.layout-fixed {
    table-layout: fixed;
}

.dark-green {
    color: #008000;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

/*# sourceMappingURL=recharge-shorthand.css.map */

/*# sourceMappingURL=recharge-shorthand.css.map */

body {
    height: 100%;
    background: #F4F4F4;
    color: #515151;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

a:hover,
a:focus {
    color: #43A94F;
    text-decoration: none;
}

a {
    color: #4DBD5A;
}

.header {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0;
    height: 50px;
    background: #42B549;
    -ms-box-shadow: 0 1px 1px RGBA(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px RGBA(0, 0, 0, 0.1);
    color: WHITE;
    line-height: normal;
}

.header_left,
.header_right {
    height: 50px;
    line-height: 48px;
}

.header_right {
    float: right;
    margin-right: 50px;
}

.header_left {
    float: left;
}

.wrapper_head {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1000px;
    width: 100%;
}

.header_right_nav {
    margin-left: 20px;
    color: WHITE;
    font-size: 13px;
}

.header_right_nav:hover {
    color: WHITE;
    opacity: 0.8;
}

.nav-cart {
    top: 0;
    right: 0;
    padding: 13px 15px 15px;
    cursor: pointer;
}

.nav-notif {
    position: absolute;
    top: -6px;
    right: -8px;
    width: 15px;
    height: 15px;
    border: 3px solid #42B549;
    border-radius: 50%;
    background: RED;
}

@media (min-width: 640px) {
    .nav-cart {
        margin-right: 10px;
    }
}

.recharge-logo_wrapper {
    float: left;
}

.recharge-logo_wrapper a {
    display: block;
    padding: 13px 0;
    height: 50px;
    text-indent: -9999px;
    line-height: 0;
}

.recharge-logo {
    display: block !important;
    width: 181px;
    height: 27px;
    background-position: -2px -29px !important;
}

#nav-burger {
    display: none;
    padding: 16px 15px 15px;
    cursor: pointer;
}

.nav-burger__child,
#search-header__back div {
    position: relative;
    width: 25px;
    height: 21px;
    cursor: pointer;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

#nav-burger .nav-burger__child span,
#search-header__back > div span,
.nav-burger__child span {
    position: absolute;
    left: 0;
    display: block;
    width: 25px;
    height: 2px;
    background: WHITE;
    opacity: 1;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: translate(0) rotate(0);
    transform: translate(0) rotate(0);
    -o-transform: translate(0) rotate(0);
}

#nav-burger .nav-burger__child span:nth-child(1),
#search-header__back > div span:nth-child(1) {
    top: 0;
}

#nav-burger .nav-burger__child span:nth-child(2),
#search-header__back > div span:nth-child(2) {
    top: 9px;
}

#nav-burger .nav-burger__child span:nth-child(3),
#search-header__back > div span:nth-child(3) {
    top: 18px;
}

.rs-icon-menu {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 23px;
    height: 23px;
}

@media (max-width: 640px) {
    .wrapper_head {
        padding: 0;
    }

    #nav-burger {
        display: block;
    }

    .header_right {
        display: none;
    }

    .recharge-logo_wrapper {
        float: none;
        margin-right: 0;
        text-align: center;
    }

    .recharge-logo_wrapper a {
        display: inline-block;
    }
}

body.inactive .wrapContent-overlay {
    display: block;
    cursor: pointer;
}

.wrapContent-overlay {
    position: fixed;
    left: 0;
    z-index: 1100;
    display: none;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 200ms;
    -ms-transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
}

.header_gimmick {
    display: table;
    margin: 10px auto;
    max-width: 700px;
    height: 150px;
}

.header_gimmick h1 {
    display: table-cell;
    width: 370px;
    color: WHITE;
    vertical-align: middle;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
}

.header_gimmick h1 span {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    font-size: 21px;
}

.header_gimmick_img {
    display: table-cell;
}

.header::before,
.header_gimmick::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    content: '';
}

.header::before {
    height: 145px;
}

.header_gimmick::before {
    height: 300px;
}

@media (max-width: 768px) {
    .header > .wrapper {
        padding: 0 10px;
    }

    .header_gimmick {
        height: 110px;
        text-align: center;
    }

    .header_gimmick h1 {
        font-size: 22px;
    }

    .header_gimmick h1 span {
        font-size: 19px;
    }

    .header_gimmick_img {
        width: 77px;
        height: 61px;
        background-position: -166px -167px;
        background-size: 412px 299px;
    }
}

@media (max-width: 500px) {
    .header_gimmick {
        height: 80px;
    }

    .header_gimmick h1 {
        font-size: 18px;
    }

    .header_gimmick h1 span {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .header_gimmick {
        height: 70px;
    }

    .header_gimmick h1 {
        font-size: 15px;
        line-height: 14px;
    }

    .header_gimmick h1 span {
        font-size: 14px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper {
    margin: auto;
    max-width: 700px;
    width: 100%;
}

.wrapper::before,
.wrapper::after {
    display: table;
    clear: both;
    content: " ";
}

.box {
    margin-bottom: 20px;
    padding: 15px;
    background: WHITE;
    -ms-box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
}

/*.title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}*/

.title-page {
    font-size: 17px;
}

.form-group label {
    margin-bottom: 0;
    color: #515151;
    font-weight: normal;
    font-size: 13px;
}

.form-control {
    display: block;
    padding: 5px 0;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    background-color: WHITE;
    box-shadow: none;
    color: #515151;
    font-size: 14px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    outline: 0;
    border-bottom: 1px solid #4D9C46;
    -o-box-shadow: none;
    box-shadow: none;
    color: #4D9C46;
}

.field-label {
    color: #515151;
    font-weight: normal;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #AAA !important;
}

:-moz-placeholder {
    color: #AAA !important;
}

::-moz-placeholder {
    color: #AAA !important;
}

:-ms-input-placeholder {
    color: #AAA !important;
}

.pulsa-form .dd .ddChild li {
    color: #515151;
}

.pulsa-form .dd .ddChild li.selected {
    background: #42B549;
    color: WHITE;
}

.pulsa-form .dd .ddChild li:hover {
    background: #F7F7F7;
    color: #515151;
}

.pulsa-form .dd .ddChild li:hover .ddlabel {
    color: #505050;
}

.box-total {
    padding-top: 10px;
    border-top: 1px solid #EEE;
}

.jenis__produk {
    float: left;
    margin-right: 10px;
    width: 70px;
}

@media screen and (max-width: 650px) {
    .detail__produk {
        max-width: 75%;
    }
}

.detail__produk__harga {
    margin: 10px 0 0;
}

.detail__produk__nomor {
    margin: 10px 6px 0 0;
}

.detail__produk__harga,
.detail__produk__nomor {
    float: left;
    word-break: break-all;
}

.ubah__link {
    right: 15px;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.payment__type li {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 13px;
    width: 31%;
    height: 60px;
    border-radius: 5px;
    -ms-box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.2);
    vertical-align: middle;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}

.error-input {
    display: inline-block;
    margin-top: 3px;
    color: RED;
}

.payment__type li.chosen {
    border: 2px solid #4D9C46;
}

.payment__main {
    display: none;
}

.opsi-right {
    right: 0;
}

.error {
    background: #FFB9B9;
}

label {
    font-weight: normal;
}

.ddChild ul li:first-child {
    background: WHITE !important;
}

.ddChild ul li:first-child .ddlabel {
    color: #999;
}

.ddChild li.selected:first-child .ddlabel {
    color: #999 !important;
}

.alert {
    border-radius: 0;
}

.alert ul {
    list-style: disc;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 40px solid #3B5998;
    border-right: 25px solid transparent;
}

#triangle-bottomright {
    margin-left: -20px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #D34836;
    border-left: 25px solid transparent;
}

.saldo__content {
    display: none;
}
/*
button {
    border: none;
    background: WHITE;
}*/

.btn {
    padding: 0;
    border-radius: 0;
}

.btn-default.green {
    padding: 5px;
    border-color: GREEN;
}

.btn-default.green:active,
.btn-default.green:hover,
.btn-default.green:focus {
    outline: 0;
    background-color: #4D9C46;
    color: WHITE;
}

.btn-facebook {
    background-color: #3B5998;
    color: WHITE;
}

.btn-gplus {
    background-color: #D34836;
    color: WHITE;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    outline: none;
    background: WHITE;
    text-align: right;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
}

.btn-buy,
.btn-action,
.btn-general,
.btn-ghost {
    padding: 5px 25px;
    color: WHITE;
    line-height: 2.5em;
}

.btn-buy {
    background: #F26039;
}

.btn-action {
    background: #41B549;
}

.btn-general {
    border: 1px solid #DDD;
    background: WHITE;
    color: #F46039;
}

.btn-ghost {
    padding: 0 15px;
    border: 1px solid white;
    background: transparent;
}

.btn-ghost-green {
    padding: 4px 10px;
    border: 1px solid #4DBD5A;
    border-radius: 3px;
}

.btn-ghost-green:active,
.btn-ghost-green:focus,
.btn-ghost-green:hover {
    background: #4DBD5A;
    color: WHITE;
}

.header_btn {
    text-transform: uppercase;
    font-size: 12px;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
    background: WHITE;
    color: #42B549;
}

[class^="btn-"],
[class*=" btn-"] {
    box-sizing: border-box;
    text-align: center;
}

a.btn-buy:hover,
a.btn-action:hover {
    color: WHITE;
}

a.btn-general:hover {
    color: #F46039;
}

a.btn-buy,
a.btn-action,
a.btn-general,
a.btn-ghost {
    display: inline-block;
}

.dd .ddChild li.selected .ddlabel {
    color: WHITE;
}

.cancel-voucher,
.cancel-voucher:hover {
    color: #515151;
}

.panduan-klikbca {
    padding-left: 30px;
}

.panduan-klikbca li {
    margin-bottom: 25px;
    list-style: none;
}

.number-list {
    float: left;
    margin-left: -30px;
    padding: 4px 8px 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #42B59B;
    color: WHITE;
    font-size: 12px;
}

.well {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 0;
    background-color: #F6F6F6;
    box-shadow: none;
}

@media screen and (min-width: 380px) {
    .pulsa-form {
        margin: 0 auto;
        width: 100%;
    }
}

.alert-warning {
    padding: 15px;
    border: 1px solid #F7EEB8;
    background: #FFF6BF;
    color: #515151;
}

.content-center {
    margin: 0 auto;
    max-width: 460px;
}

.help-icon {
    padding: 0 5px;
    border-radius: 50px;
    background: GREEN;
    color: WHITE;
    vertical-align: middle;
    cursor: pointer;
}

.tag-important {
    color: RED;
}

#kodevoucher__trigger {
    cursor: pointer;
}

.ichek__voucher:hover,
.ichek__voucher:hover,
.ichek__saldo,
.ichek__saldo:hover {
    cursor: pointer;
}

.kodevoucher__input {
    display: none;
}

.kodevoucher__input.active {
    display: block;
}

.kodevoucher__input .input-group input {
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.kodevoucher__input .input-group-addon {
    padding: 0;
    border-color: #1C8222;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #42B549;
    line-height: 0;
}

.kodevoucher__input .input-group-addon button {
    margin: 0;
    padding: 17px 20px;
    border-radius: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #42B549;
    color: WHITE;
}

#kodevoucher__cancel {
    top: 5px;
    right: 20px;
    display: none;
    font-weight: bold;
    font-size: 22px;
}

.data__payment__info {
    padding: 10px 8px;
    border: 1px solid #EEEE25;
    border-radius: 3px;
    background: #FFFFE1;
    line-height: 22px;
}

.payment__main small {
    font-size: 80%;
}

.data__payment--4 .data__payment__row-second {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ECECEC;
}

.data__payment__row-second .col-xs-7 {
    max-width: 270px;
}

@media (max-width: 360px) {
    .data__payment__row-second .col-xs-7 {
        max-width: 188px;
        width: 53.33333333%;
    }

    .data__payment__row-second .col-xs-5 {
        width: 46.66666667%;
    }
}

@media (min-width: 700px) {
    .col-md-6.data__payment__row-first,
    .col-md-6.data__payment__row-second {
        width: 50%;
    }

    .data__payment--4 .data__payment__row-second {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
        border-left: 1px solid #ECECEC;
    }

    .data__payment--6 .col-md-3 {
        width: 26%;
    }

    .data__payment--6 .col-md-3 select {
        max-width: none;
    }
}

#voucher__input__div {
    width: 300px;
}

input.w-110 {
    max-width: none;
}

.no-logo {
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}

.recharge-logo,
.icon-user,
.icon-info,
.icon-back,
.icon-cancel,
.icheckbox_square-green,
.icheckbox_square-green-med,
.iradio_flat-green,
.iradio_flat-green-sml,
.iradio_flat-green-med,
.icon-toped-success,
.icon-toped-failed,
.icon-toped-recharge,
.icon-toped-success-med,
.ic-close,
.header_gimmick_img,
.pulsa-icon,
.paket-data-icon,
.pln-icon,
.rs-icon,
.saldo-icon {
    display: inline-block;
    // background: url("../img/recharge/sprite-recharge-3.png") no-repeat transparent;
    background-size: 412px 299px;
}

.rs-cart {
    width: 23px;
    height: 21px;
    background-position: -351px -5px;
}

.icon-user {
    width: 25px;
    height: 25px;
    background-position: 0 0;
}

.icon-info {
    width: 25px;
    height: 25px;
    background-position: -41px 0;
}

.icon-back {
    width: 15px;
    height: 15px;
    background-position: -25px 0;
}

.icon-cancel {
    width: 15px;
    height: 15px;
    background-position: -109px -4px;
}

.icon-reload {
    width: 11px;
    height: 11px;
    background-position: -67px -4px;
}

.icon-clear {
    width: 8px;
    height: 8px;
    background-position: -81px -6px;
}

.icon-warning {
    width: 14px;
    height: 13px;
    background-position: -91px -3px;
}

.pulsa-icon {
    width: 19px;
    height: 25px;
    background-position: -275px -242px;
}

.pulsa-trigger:hover .pulsa-icon {
    background-position: -298px -242px;
}

.pulsa-trigger.active .pulsa-icon,
.pulsa-icon.active {
    background-position: -321px -242px;
}

.paket-data-icon {
    width: 25px;
    height: 25px;
    background-position: -51px -242px;
}

.paket-data-trigger:hover .paket-data-icon {
    background-position: -80px -242px;
}

.paket-data-trigger.active .paket-data-icon,
.paket-data-icon.active {
    background-position: -110px -242px;
}

.pln-icon {
    width: 19px;
    height: 25px;
    background-position: -205px -242px;
}

.pln-trigger:hover .pln-icon {
    background-position: -228px -242px;
}

.pln-trigger.active .pln-icon,
.pln-icon.active {
    background-position: -252px -242px;
}

.rs-home {
    width: 23px;
    height: 23px;
    background-position: -195px -28px;
}

.rs-user {
    width: 20px;
    height: 22px;
    background-position: -229px -28px;
}

.rs-logout {
    width: 21px;
    height: 21px;
    background-position: -258px -29px;
}

.rs-order-list {
    width: 20px;
    height: 22px;
    background-position: -291px -29px;
}

.rs-product-list {
    width: 19px;
    height: 19px;
    background-position: -322px -30px;
}

.rs-back {
    width: 12px;
    height: 18px;
    background-position: -331px -5px;
}

.saldo-icon {
    width: 27.5px;
    height: 25px;
    background-position: -225px -213.5px;
}

.saldo-trigger:hover .saldo-icon {
    background-position: -256.5px -213.5px;
}

.saldo-trigger.active .saldo-icon,
.saldo-icon.active {
    background-position: -288px -213.5px;
}

.trigger-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.trigger-tooltip:hover .tooltip-container,
.trigger-tooltip:focus .tooltip-container {
    display: block;
}

.trigger-tooltip .icon-info-alt {
    vertical-align: middle;
    font-size: 16px;
}

.tooltip-container {
    position: absolute;
    top: 13px;
    left: -100px;
    z-index: 1001;
    display: none;
    padding: 15px 0;
    max-width: 230px;
    width: 230px;
    text-align: center;
}

@media (min-width: 960px) {
    .tooltip-container {
        min-width: 230px;
        max-width: 768px;
        width: auto;
        white-space: nowrap;
    }
}

.tooltip-box {
    display: block;
    padding: 7px 11px;
    border: 1px solid #AAA;
    border-radius: 5px;
    background: WHITE;
    box-shadow: 2px 1px 0 0 RGBA(124, 120, 119, 0.3);
}

.tooltip-container.open {
    display: block;
}

.tooltip-box::before {
    position: absolute;
    top: -3px;
    left: 103px;
    z-index: 0;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 10px solid #AAA;
    content: '';
}

.tooltip-box::after {
    position: absolute;
    top: -1px;
    left: 103px;
    z-index: 0;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 10px solid white;
    content: '';
}

.close-number {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 999;
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C1C1C1;
    color: WHITE;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}

body.stop-scrolling {
    overflow: hidden;
}

.load__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: RGBA(255, 255, 255, 0.85);
}

.load__img {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -30px;
    margin-left: -27px;
    width: 54px;
    height: 61px;
    border: 0;
    // background: url("../img/recharge/sprite-recharge-3.png") no-repeat transparent;
    background-position: -164px -167px;
    background-size: 412px 299px;
}

.load__line-mask {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -60px;
    margin-left: -60px;
    width: 60px;
    height: 120px;
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}

.load__line-mask .load__line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px RGBA(66, 181, 73, 1);
}

.load__overlay.load__normal {
    position: relative;
    display: block;
    width: 100%;
    height: 130px;
    background: transparent;
}

.load__overlay.load__normal > .load__line-mask {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 0;
}

.load__overlay.load__normal > .load__img {
    position: absolute;
    margin-top: -35px;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.icheckbox_square-green,
.icheckbox_square-green-med,
.iradio_flat-green,
.iradio_flat-green-med,
.iradio_flat-green-sml {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.icheckbox_square-green {
    width: 23px;
    height: 22px;
    background-position: -129px -4px;
}

.icheckbox_square-green.checked {
    background-position: -153px -4px;
}

.icheckbox_square-green-med {
    width: 16px;
    height: 15px;
    background-position: -178px -4px;
}

.icheckbox_square-green-med.checked {
    background-position: -195px -4px;
}

.iradio_flat-green {
    width: 22px;
    height: 22px;
    background-position: -239px -4px;
}

.iradio_flat-green.checked {
    background-position: -215px -4px;
}

.iradio_flat-green-med {
    width: 15px;
    height: 15px;
    background-position: -285px -4px;
}

.iradio_flat-green-med.checked {
    background-position: -265px -4px;
}

.iradio_flat-green-sml {
    width: 11px;
    height: 10px;
    background-position: -315px -4px;
}

.iradio_flat-green-sml.checked {
    background-position: -303px -4px;
}

.icon-toped-success {
    width: 129px;
    height: 102px;
    background-position: -140px -57px;
}

.icon-toped-failed {
    width: 132px;
    height: 99px;
    background-position: -274px -57px;
}

.icon-toped-recharge {
    width: 135px;
    height: 107px;
    background-position: -2px -57px;
}

.header_gimmick_img {
    width: 310px;
    height: 141px;
    background-position: -5px -334px;
    background-size: auto;
}

.product-socialholder__label {
    display: table-cell;
    width: 70px;
    vertical-align: middle;
}

.product-socialholder__button {
    cursor: pointer;
}

.bg-head {
    background: #42B549;
}

.img-logo {
    margin: 5px 0;
    margin-left: 30px;
    height: 33px;
}

.navbar {
    border: none;
    border-radius: 0;
}

.navbar-brand {
    display: block;
    float: none;
    padding: 8px 0;
}

.navbar-default {
    height: 60px;
    border-bottom: 1px solid #CCC;
    background: #42B549;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: WHITE;
}

.navbar-default .navbar-toggle {
    margin-right: 0;
    padding: 6px;
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header_gimmick_img {
        margin-right: 40px;
        width: 135px;
        height: 107px;
        background-position: -2px -56px;
        background-size: 412px 299px;
    }
}

@media (max-width: 428px) {
    .gimmick-home,
    .header_gimmick_img {
        display: none;
    }
}

@media (max-width: 720px) {
    .header::before {
        height: 0;
    }
}

.pagination {
    display: block;
    text-align: right;
}

.pagination ul {
    display: inline-block;
    padding-left: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px RGBA(0, 0, 0, 0.05);
}

.pagination ul li {
    display: inline;
    margin-left: 7px;
}

.pagination ul li a {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid gainsboro;
    background: WHITE;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

.pagination ul li.active a {
    background-color: #F7F7F7;
}

.head-mobile-recharge {
    margin-bottom: 10px;
    padding: 15px;
    background: #41B549;
    -ms-box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
}

.status {
    text-transform: uppercase;
    font-weight: 600;
}

.med-large {
    width: 100%;
}

.main-content-wrapper {
    padding: 15px;
    width: 100%;
    background: WHITE;
}

.logout {
    font-weight: 700;
    font-size: 10px;
}

.btn-cek {
    padding: 7px;
    width: 100%;
    border: 1px solid #EEE;
    color: #515151;
    font-size: 11px;
}

.fs-small {
    font-size: 0.9em;
}

.center {
    margin: 0 auto;
}

.ic-close {
    width: 13px;
    height: 20px;
    background-position: -79px -5px;
    background-size: 412px 299px;
    cursor: pointer;
}

.value-auto {
    position: absolute;
    z-index: 9999;
    display: none;
    visibility: visible;
    overflow-y: auto;
    margin-top: -1px;
    padding: 0;
    max-height: 170px;
    width: 100%;
    height: auto;
    border: 1px solid #DDD;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: WHITE;
    background-color: WHITE;
    -ms-box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px RGBA(0, 0, 0, 0.1);
}

.value-auto li {
    padding: 3px 10px;
    padding-left: 10px;
    color: #787878;
    list-style: none;
    letter-spacing: 0.6px;
    font-size: 13px;
    line-height: 22px;
}

.value-auto li span {
    overflow: hidden;
    padding: 10px 0;
    color: #606060;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5em;
}

.value-auto li:hover {
    background: #F7F7F7;
    color: #515151;
}

.value-auto li span.active {
    color: #999;
}

.mobile-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    background: RGBA(0, 0, 0, 0.5);
}

.mobile-modal--container {
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    background: WHITE;
    -ms-box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px RGBA(0, 0, 0, 0.1);
}

.mobile-modal--content {
    text-align: left;
}

.mobile-modal--title {
    display: inline;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
}

.mobile-modal--info {
    margin-top: 10px;
    font-size: 15px;
}

.mobile-modal--info__small {
    font-size: 1em;
}

.row.hotlist {
    margin: auto;
}

.col-hot {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    max-width: 310px;
    width: 32.33%;
    border: 1px solid #E1E1E1;
}

.col-hot:last-child {
    margin-right: 0;
}

@media (max-width: 700px) {
    .col-hot {
        width: 47.1%;
    }

    .col-hot:nth-child(odd) {
        margin-right: 20px;
        margin-left: 8px;
    }

    .col-hot:nth-child(even) {
        margin-right: 0;
    }
}

@media (max-width: 512px) {
    .col-hot:nth-child(odd) {
        margin-left: 0;
    }
}

@media (max-width: 430px) {
    .col-hot {
        width: 100%;
    }

    .col-hot:nth-child(odd),
    .col-hot:nth-child(even) {
        margin-right: auto;
        margin-left: auto;
    }
}

.price_info {
    font-size: 14px;
}

.price_disc {
    text-decoration: line-through;
    font-size: 14px;
}

.operator-tab {
    display: inline-block;
    float: left;
    width: 20%;
}

.provider__nominal__price,
.provider__nominal__info {
    display: block;
}

.provider__nominal__price {
    line-height: 24px;
}

.provider__nominal__info {
    height: auto;
    color: #999;
    font-size: 12px;
    line-height: 11px;
}

.disabled {
    background: #EEE;
    opacity: 0.5;
    cursor: not-allowed !important;
}

.payment__type li.chosen.disabled {
    border: 1px solid #C6C6C6 !important;
}

.banner_home {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.bg-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-banner::before {
    background-color: #98DFD1;
    content: "";
}

@media (max-width: 768px) {
    .nav-tabs-type li {
        width: 33.3%;
    }
}

ul.nav.nav-tabs.nav-tabs-type {
    background: RGBA(255, 255, 255, 0.62);
}

.tabbed-nav {
    position: relative;
    clear: both;
    width: 100%;
    text-align: left;
}

.nav-tabs-type li {
    width: 25%;
}

.nav-tabs-type li a {
    color: #666;
    font-size: 11px;
    cursor: pointer !important;
}

.nav-tabs > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus {
    border-color: transparent;
    background-color: transparent;
}

.nav-tabs-type.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 0;
    background: transparent;
    color: #45BE4C;
}

.nav-tabs {
    height: 75px;
    border-bottom: 0;
}

.nav-tabs > li > a {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 10px 0;
    border: 0;
    border-radius: 0;
}

/*
.nav > li > a:hover,
.nav > li > a:focus {
    background: transparent;
    color: #45BE4C;
}

.nav-tabs-type li:nth-child(n+5) {
    display: none;
}

@media (min-width: 840px) {
    .nav-tabs-type li {
        width: 12.5% !important;
    }

    .nav-tabs-type a {
        font-size: 14px !important;
    }

    .others-trigger {
        display: none !important;
    }

    .nav-tabs-type li:nth-child(n+5) {
        display: block;
    }
}

.active-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 75px;
    border-bottom: 4px solid #42B549;
    background: transparent;
    transition: all 0.2s ease;
}
*/

.tab-more {
    border: solid 1px #EBEBEB;
    background: #FFF;
    border-radius: 6px 6px 0;
    top: -4px;
    right: -1px;
    position: relative;
    padding-bottom: 0;
    background-color: #FFF;
    box-shadow: 0 0 9px 2px RGBA(193, 193, 193, 0.14);
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: transparent;
    color: #45BE4C;
}

.nav-tabs-type li:nth-child(n+5) {
    display: none;
}

@media (min-width: 965px) {
    .nav-tabs-type li {
        width: 9.3% !important;
    }

    .nav-tabs-type li.tab-more {
        float: right;
        width: 7% !important;
    }

    .nav-tabs-type li.tab-more a {
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .nav-tabs-type a {
        font-size: 11px !important;
    }

    .others-trigger-mobile {
        display: none !important;
    }

    .nav-tabs-type li:nth-child(n+5) {
        display: block;
    }
}

.active-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 75px;
    border-bottom: 4px solid #42B549;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media (max-width: 993px) {
    .cust-img {
        margin: 0 10px 0 auto;
        width: 60%;
    }

    .gimmick-home__custom h3 {
        font-size: 15px;
    }

    .tagline__custom {
        font-size: 14px;
    }

    .operator-tab {
        display: inline-block;
        width: 20%;
    }

    .container-wrapper {
        position: relative;
        top: -70px;
    }
}

@media (max-width: 768px) {
    .header_gimmick {
        padding: 20px 0;
        height: 70px;
    }

    .cust-img {
        margin: 0 auto;
        width: 20%;
    }
}

@media (max-width: 667px) {
    .container-wrapper {
        position: relative;
        top: -70px;
    }
}

@media (max-width: 640px) {
    .container-wrapper {
        position: relative;
        top: -70px;
    }
}

@media (min-width: 381px) {
    .payment__type .box-bordered:nth-of-type(3n+2) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media (max-width: 380px) {
    .payment__type li {
        width: 47%;
    }

    .provider__nominal li {
        min-width: 47%;
    }

    .payment__type .box-bordered:nth-of-type(2n+1) {
        margin-right: 3%;
    }

    .payment__type li img {
        max-width: 100px;
    }

    .detail__produk__nomor {
        margin-right: 10px;
        max-width: none;
    }

    .cust-img {
        margin: 0 auto;
        width: 35%;
    }

    .operator-tab {
        display: inline-block;
        width: 50%;
    }

    .gimmick-home__custom h3,
    .gimmick-home__custom p,
    .tagline__footer {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .container-wrapper {
        position: relative;
        top: -70px;
    }
}

@media (max-width: 375px) {
    .cust-img {
        margin: 0 auto;
        width: 35%;
    }

    .operator-tab {
        display: inline-block;
        width: 50%;
    }

    .gimmick-home__custom h3,
    .gimmick-home__custom p,
    .tagline__footer {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .provider__item li {
        font-size: 12px;
    }

    .provider__item li span.gimmick__info {
        font-size: 9px;
    }

    .provider__item li span.gimmick__nominal {
        position: relative;
        z-index: 4;
        padding-top: 5px;
        line-height: 15px;
    }
}

@media (max-width: 320px) {
    .cust-img {
        margin: 0 auto;
        width: 35%;
    }

    .operator-tab {
        display: inline-block;
        width: 50%;
    }

    .container-wrapper {
        position: relative;
        top: -70px;
    }

    .banner-home {
        background-position: 10%;
    }

    .gimmick-home__custom h3,
    .gimmick-home__custom p,
    .tagline__footer {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}

.recharge-warning {
    border-color: #FAEBCC;
    background-color: #FCF8E3;
    color: #8A6D3B;
}

.error-input {
    display: inline-block;
    margin-top: 3px;
    color: RED;
    font-weight: normal;
    font-size: 12px;
}

.countdown {
    margin-top: 15px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 28px;
}

.time-caption {
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
}

.border-orange {
    border-color: #F46039;
}

.divider {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 5px;
    max-width: 450px;
    width: 85%;
    border-top: 1px solid gainsboro;
}

.divider p {
    margin-top: -11px;
    text-align: center;
    font-size: 13px;
}

.divider p span {
    padding: 5px 10px;
    background: WHITE;
}

.detail__trx {
    float: left;
    width: 50%;
}

.detail__trx__success {
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 50%;
    border-left: 1px solid #EEE;
}

@media (max-width: 650px) {
    .detail__trx,
    .detail__trx__success {
        float: none;
        width: auto;
    }

    .detail__trx__success {
        clear: both;
        margin-top: -10px;
        padding-bottom: 10px;
        padding-left: 80px;
        border-left: none;
    }
}

#content {
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.content-flex {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    -webkit-box-flex: 1;
}

.btn-disable {
    background: #DDD !important;
    cursor: not-allowed;
}

.alert-info {
    border-color: #B2E4EF;
    background-color: #DBF3FF;
}

.alert-danger {
    background: #FCE3E3;
}

.br-2 {
    border-radius: 2px;
}

#recharge-modal {
    position: fixed;
    top: 0;
    z-index: 1001;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, 0.7);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#recharge-modal-close {
    position: absolute;
    right: 3%;
    width: 30px;
    height: 30px;
    border: 2px solid #27A659;
    border-radius: 50%;
    color: #27A659;
    font-size: 19px;
    cursor: pointer;
}

#recharge-modal.shown {
    visibility: visible;
}

#recharge-modal.shown #recharge-modal-area {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#recharge-modal #recharge-modal-area {
    margin: 10% auto;
    max-width: 500px;
    width: 100%;
    border-radius: 1%;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateY(8%);
    transform: translateY(8%);
}

.gray-muted {
    color: #888;
}

.order-detail-table tr td {
    padding: 3px 15px 3px 0;
}

.invoice {
    display: inline-block;
    border-right: 1px solid #CCC;
}

@media (max-width: 480px) {
    .invoice {
        display: block;
        border-right: 0;
    }
}

.highlight_title {
    margin: 0 auto;
    padding: 3px;
    width: 12%;
    border: 2px solid #F25F38;
    border-radius: 10px;
    text-transform: uppercase;
}

.highlight_color {
    color: #5C5C5C;
}

.highlight_number {
    font-size: 20px;
}

.text-capitalize {
    text-transform: capitalize;
}

.highlight {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 400px;
    width: 100%;
}

.detail__produk {
    float: left;
    padding-top: 5px;
    max-width: 230px;
    font-size: 14px;
}

.jenis__produk_circle {
    display: table;
    width: 70px;
    height: 70px;
}

.jenis__produk_circle_icon {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 512px) {
    .jenis__produk {
        margin-right: 15px;
        width: 50px;
    }

    .jenis__produk_circle {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 425px) {
    .detail__produk {
        padding-top: 0;
    }
}

.tx_price_info {
    float: left;
    margin: 0;
    margin-left: 10px;
    padding: 2px 5px;
}

@media (max-width: 435px) {
    .tx_price_info {
        clear: both;
        margin-top: 5px;
        margin-left: 0;
    }
}

#help-cvv-btn {
    color: GREEN;
    cursor: pointer;
}

body.inactive,
body.inactive #content {
    position: fixed;
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.popup .area-popup,
.popup .area-popup_menu {
    position: fixed;
    overflow: auto;
    margin: 0;
    height: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.area-popup,
.area-popup_menu {
    margin: 30% auto 40px;
    width: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.area-popup.active {
    right: 0 !important;
}

.area-popup__button {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 12px;
    width: 100%;
}

.area-popup__title,
.area-popup__title-menu {
    background: #42B549;
    color: WHITE;
}

.area-popup__close,
.area-popup-menu__close,
.area-popup__back {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    font-size: 28px;
    line-height: 24px;
    cursor: pointer;
}

.area-popup__back {
    top: 3px;
    right: auto;
    left: 5px;
    font-size: 30px;
}

.area-popup_menu {
    width: 210px;
}

.area-popup_menu.active {
    left: 0 !important;
}

.area-popup-menu__close {
    line-height: 29px;
}

.area-popup__title-menu {
    padding: 0 15px;
    height: 50px;
    line-height: 48px;
}

table.menu-popup-table tr,
table.product-mobile-table tr,
table.operator-mobile-table tr {
    cursor: pointer;
}

table.menu-popup-table tr.tr-gray,
table.product-mobile-table tr.tr-gray,
table.operator-mobile-table tr.tr-gray {
    background: #F9F9F9;
}

table.menu-popup-table tr.disabled,
table.product-mobile-table tr.disabled,
table.operator-mobile-table tr.disabled {
    background: transparent;
}

table.menu-popup-table tr td,
table.product-mobile-table tr td,
table.operator-mobile-table tr td {
    padding: 10px;
    border-top: 1px solid #EEE;
    vertical-align: middle;
    line-height: 22px;
}

table.operator-mobile-table img {
    margin-right: 5px;
    height: 30px;
}

.op-radio,
.pr-radio {
    float: right;
    text-align: center;
    line-height: 0;
}

.op-radio input[type="radio"],
.pr-radio input[type="radio"] {
    display: none;
}

.op-radio input[type="radio"] + label,
.pr-radio input[type="radio"] + label {
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s;
}

.op-radio input[type="radio"]:checked + label,
.pr-radio input[type="radio"]:checked + label {
    border-color: #42B549;
    // background: #42B549 url('https://ecs7.tokopedia.net/img/recharge/ceklis.svg') center no-repeat;
    background-size: 10px;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s;
}

.op-radio svg,
.pr-radio svg {
    margin-bottom: 2px;
}

.no-stock {
    padding: 2px 5px;
    border-radius: 3px;
    background: #999;
    color: WHITE;
}

table.table-menu tr td {
    padding: 0;
}

.table-menu__link {
    display: block;
    padding: 10px 15px;
    color: #515151;
    cursor: pointer;
}

.table-menu__link:hover,
.table-menu__link:focus,
.table-menu__link:active {
    outline: none;
    color: #515151;
}

.box-media {
    display: table;
    width: 100%;
}

.box-media,
.box-media > * {
    box-sizing: border-box;
}

.box-media > * {
    display: table-cell;
    vertical-align: top;
}

.box-media__content {
    padding: 0 10px;
}

.box-media__left {
    padding-left: 10px;
    max-width: 120px;
    width: 100px;
    text-align: center;
}

#dialog {
    display: none;
}

.input-group-btn .btn {
    border-color: #42B549;
    background-color: #42B549;
    color: WHITE;
}

.input-group-btn .btn:active,
.input-group-btn .btn:hover,
.input-group-btn .btn:focus {
    outline: 0;
    border-color: #4D9C46;
    background-color: #4D9C46;
    color: WHITE;
}

.ui-helper-hidden-accessible {
    display: none;
}

.dm-alert {
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #BDF3B6;
    background-color: #EBFDEA;
}

.dm-alert__title {
    margin: 0 0 5px;
    color: #6EC65B;
    font-size: 14px;
}

.dm-alert__text {
    margin: 0;
    color: #515151;
    font-size: 14px;
    line-height: 1.5;
}

.dm-alert.error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.dm-alert.error .dm-alert__title,
.dm-alert.error .dm-alert__text {
    color: #A94442;
}

.btn-buy,
.btn-buy:hover,
.btn-buy:focus {
    color: WHITE;
}

.btn--gray {
    background: #CCC;
    color: #515151;
}

.btn--gray:hover,
.btn--gray:focus {
    background: #CCC;
    color: #515151;
}

.alert-box--success {
    background: #ECFDE8;
}

.overlay {
    background: #000;
    position: fixed;
    top: 61px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 200;
    display: block;
}

.overlay.active {
    display: block;
}
/*# sourceMappingURL=recharge-core.css.map */
