.container_temp {
  width:100%;
  max-width: 900px;
  margin: auto;
}

.container_temp .kodok {
  background-color: red;
  display: inline-block;
  width: 900px;
  height: 100px !important;
}

.slider-slide:nth-child(odd) .kodok {
  background-color: green;
}
