.footer {
    overflow: hidden;
    width: 100%;
    background: 0 0;
    background-position: bottom;
    font-size: 12px;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #FF5722;
}

.footer-noflex {
    -ms-flex: none;
    flex: none;
    -webkit-box-flex: 0;
}

.footer__content {
    padding: 45px 0 30px;
    border-top: 1px solid RGBA(0, 0, 0, 0.12);
    font-size: 0; /* hacks for prevent inline-block breaking */
    background: #FFF;
}

.footer__lower {
    padding: 20px 0;
    border-top: 1px solid RGBA(0, 0, 0, 0.12);
    background: #FFF;
}

.footer__cp {
    display: inline-block;
    vertical-align: middle;
}

.footer__help {
    margin-top: 10px;
    color: inherit;
}

.footer__links {
    margin-bottom: 15px;
    width: 100%;
}

.footer__links .u-bold {
    font-weight: 700;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

.footer__prd {
    display: inline-block;
}

.footer__link-txt {
    color: #909090;
    font-size: 11.7px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

.footer__link-txt::after {
    margin-right: 5px;
    margin-left: 5px;
    color: #909090 !important;
    content: '\2022';
}

.footer__prd:last-child .footer__link-txt::after {
    margin: 0;
    content: '';
}

.footer__cp-container {
    float: left;
    width: 100%;
    color: #909090;
    text-align: center;
    font-size: 11.05px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

.footer__help-container {
    float: left;
    padding-top: 12px;
    width: 100%;
    color: #909090;
    text-align: left;
    text-align: center;
    font-size: 11.05px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 992px) {
    .footer__links {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 15px;
        width: 25%;
        vertical-align: top;
    }

    .footer__content-container {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 600px) {
    .footer__cp-container {
        width: 50%;
    }

    .footer__help-container {
        width: 50%;
        text-align: right;
    }

    .footer__cp-container {
        text-align: left;
    }

    .footer__help-container {
        text-align: right;
    }
}
